<div class="mentionCard col-md-4 col-lg-3 col-12 {{tags}}" id="{{id}}">
    <div class="card">
        <div class="card-body">
            <h6>{{outlet}}</h6>
            <span class="tagsContainer">{{tags}}</span>
            <hr>
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{descrip}}</p>
            <p class="card-text" style="font-size:.8rem">Published on {{pubdate}}</p>
            <hr>
            <a href="{{link}}" class="btn btn-primary">Read Mention</a>
        </div>
    </div>
</div>