<div class="col-12 col-md-4 col-lg-3 {{outlet}}">
    <div class="card">
        <div class="card-body">
            <h6>{{outlet}}</h6>
            <span>{{tags}}</span>
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{descrip}}</p>
            <p class="card-text">Published on {{pubdate}}</p>
            <a href="{{link}}" class="btn btn-primary">Read Mention</a>
        </div>
    </div>
</div>